.pageContainer {
  height: 100%;
  width: 100%;
}
.header {
  text-align: center;
}
.subheader {
  text-align: center;
}
.mainText {
  text-align: center;
  font-size: xx-large;
}
.hintText {
  text-align: center;
  font-size: small;
}
.buttons {
  display: flex;
  margin-top: 5vw;
}
.buttonPrev {
  height: 20vw;
  width: 100%;
  background-color: #cfe9de;
  color: gray;
  font-size: large;
  font-weight: 400;
}
.buttonNext {
  height: 20vw;
  width: 100%;
  background-color: #fec79a;
  color: grey;
  font-size: large;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  .buttons {
    margin-top: 20vw;
  }
  .buttonPrev {
    height: 50vw;
  }
  .buttonNext {
    height: 50vw;
  }
}
