h1 {
  position: absolute;
  width: 78.718vw;
  height: 7.949vw;
  left: 10.769vw;
  top: 51.538vw;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 6.667vw;
  line-height: 7.949vw;
  display: flex;
  align-items: center;

  color: #000000;
}
.logo {
  position: absolute;
  width: 51.282vw;
  height: 51.282vw;
  left: 24.359vw;
  top: 3.846vw;
}
.fileInput {
  display: none;
}
.btnInput {
  position: absolute;
  width: 76.923vw;
  height: 11.538vw;
  left: 11.538vw;
  top: 68.641vw;

  background: #3171e0;
  border-radius: 3.077vw;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6.154vw;
  line-height: 12vw;
  display: block;
  align-items: center;
  text-align: center;

  color: #ffffff;
  cursor: pointer;
}
.btnUpload {
  position: absolute;
  width: 76.923vw;
  height: 11.538vw;
  left: 11.538vw;
  top: 83.333vw;

  background: #3171e0;
  border-radius: 3.077vw;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6.154vw;
  line-height: 7.436vw;
  display: block;
  align-items: center;
  text-align: center;

  color: #ffffff;
  cursor: pointer;
}
.imgPrev {
  position: absolute;
  width: 92.308vw;
  height: 98.718vw;
  left: 3.846vw;
  top: 102.564vw;

  background: #d9d9d9;
}

@media screen and (min-width: 960px) {
  h1 {
  }
  .logo {
  }
  .fileInput {
  }
  .btnInput {
  }
  .btnUpload {
  }
  .imgPrev {
  }
}
